// Font Faces
// -------------------------------------------------------
@font-face {
    font-family: 'futura-t-webfont';
    src: url('../fonts/futura-t/futura-t-webfont.woff') format('woff'), url('../fonts/futura-t/futura-t.ttf') format('truetype')
}

@font-face {
    font-family: 'BentonSans-Light';
    src: url('https://da1eda1962a82161c2b2-ff1835f3003bcc0a97514a8c8d89ec1a.ssl.cf3.rackcdn.com/Amex/SmartPages/fonts/BentonSans-Light.woff') format('woff'), url('https://da1eda1962a82161c2b2-ff1835f3003bcc0a97514a8c8d89ec1a.ssl.cf3.rackcdn.com/Amex/SmartPages/fonts/BentonSans-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'BentonSans-Regular';
    src: url('https://da1eda1962a82161c2b2-ff1835f3003bcc0a97514a8c8d89ec1a.ssl.cf3.rackcdn.com/Amex/SmartPages/fonts/BentonSans-Regular.woff') format('woff'), url('https://da1eda1962a82161c2b2-ff1835f3003bcc0a97514a8c8d89ec1a.ssl.cf3.rackcdn.com/Amex/SmartPages/fonts/BentonSans-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'BentonSans-Medium';
    src: url('https://da1eda1962a82161c2b2-ff1835f3003bcc0a97514a8c8d89ec1a.ssl.cf3.rackcdn.com/Amex/SmartPages/fonts/BentonSans-Medium.woff') format('woff'), url('https://da1eda1962a82161c2b2-ff1835f3003bcc0a97514a8c8d89ec1a.ssl.cf3.rackcdn.com/Amex/SmartPages/fonts/BentonSans-Medium.otf') format('opentype')
}

@font-face {
    font-family: 'Helvetica';
    src: url('https://da1eda1962a82161c2b2-ff1835f3003bcc0a97514a8c8d89ec1a.ssl.cf3.rackcdn.com/Alere/SmartPages/fonts/HelveticaNeue.woff') format('woff'), url('https://da1eda1962a82161c2b2-ff1835f3003bcc0a97514a8c8d89ec1a.ssl.cf3.rackcdn.com/Alere/SmartPages/fonts/HelveticaNeue.ttf') format('ttf')
}