// 
//  Variables
// -----------------------------------------------------
// -----------------------------
//  Colors
// -----------------------------
$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$blueLight: #169bbf;
$blueDark: #01152B;
$default: #FFFFFF;
$black: #000000;
$builderWhite: #ecf0f1;
$grey: #aaaea5;
$darkGray: #575a5d;
$gold: #857550;
$yellow: #F9BE1A;
$cranberry: #890c58;
$limeGreen: #89A84F;
//
$blueDark-opacity1: rgba(1, 21, 43, 0.9);
$blueDark-opacity2: rgba(1, 21, 43, 0.8);
$blueDark-opacity3: rgba(1, 21, 43, 0.7);
$blueDark-opacity4: rgba(1, 21, 43, 0.6);
$blueDark-opacityHalf: rgba(1, 21, 43, 0.5);
$blueDark-opacity6: rgba(1, 21, 43, 0.4);
$blueDark-opacity7: rgba(1, 21, 43, 0.3);
$blueDark-opacity8: rgba(1, 21, 43, 0.2);
$blueDark-opacity9: rgba(1, 21, 43, 0.1);
//
$blueLight-opacity1: rgba(22, 155, 191, 0.9);
$blueLight-opacity2: rgba(22, 155, 191, 0.8);
$blueLight-opacity3: rgba(22, 155, 191, 0.7);
$blueLight-opacity4: rgba(22, 155, 191, 0.6);
$blueLight-opacityHalf: rgba(22, 155, 191, 0.5);
$blueLight-opacity6: rgba(22, 155, 191, 0.4);
$blueLight-opacity7: rgba(22, 155, 191, 0.3);
$blueLight-opacity8: rgba(22, 155, 191, 0.2);
$blueLight-opacity9: rgba(22, 155, 191, 0.1);
//
$default-opacity2: rgba(255, 255, 255, 0.9) !important;
$default-opacity3: rgba(255, 255, 255, 0.8) !important;
$default-opacity4: rgba(255, 255, 255, 0.7) !important;
//
$black-opacity-1: rgba(0, 0, 0, 1) !important;
$black-opacity-2: rgba(0, 0, 0, 0.9) !important;
$black-opacity-3: rgba(0, 0, 0, 0.8) !important;
$black-opacity-4: rgba(0, 0, 0, 0.7) !important;
$black-opacity-5: rgba(0, 0, 0, 0.6) !important;
$black-opacity-6: rgba(0, 0, 0, 0.5) !important;
//
$cranberry-op-1: rgba(137, 12, 88, 1);
$cranberry-op-2: rgba(137, 12, 88, 0.9);
$cranberry-op-3: rgba(137, 12, 88, 0.8);
$cranberry-op-4: rgba(137, 12, 88, 0.7);

//Editor Colors
$light-color: #ecf0f1;
$dark-color: #222;
$modal-submit-color: #2ecc71;
$modal-reset-color: #EEE;

//Character
$color-dark: #424b54;
$color-skin: #F0BEAF;
$color-skin-dark: #8b4513;
$color-blue: #2196F3;
$color-gold: #FDD835;
$color-magneto-prime: #EE3152;
$color-magneto-accent: #795998;
$color-magnetism: #90CAF9;
$color-hair-iceman: #B3695B;
$color-elf: #0D47A1;
$color-bamf: #CE93D8;
$color-hair-storm: #ddd;
$color-hair-cyclops: #9b651d;
$color-hair-jean: #DC5846;