// 
//  Variables
// -----------------------------------------------------

// -----------------------------
// Transitions
// -----------------------------
$transition-duration: 150ms;

// -----------------------------
// Font Stacks/Styles
// -----------------------------   
$openSans: 'Open Sans';
$fontSizeH1: 5em;
$fontSizeH2: 4em;
$fontSizeH3: 3em;
$fontSizeH4: 2em;
$fontSizeH5: 1em;

// -----------------------------
// Typography
// -----------------------------

// -----------------------------
// Borders
// -----------------------------
$btnBorderRadiusWhite: 1px solid white;

// -----------------------------
// Default Dimensions
// ----------------------------
$btnHeight: 36px;
$buttonHeight: 36px !default;